@charset "UTF-8";

@font-face {
	font-family: Poppins-Regular;
	src: url('/ttf/Poppins-Regular.ttf'); 
}
@font-face {
	font-family: Poppins-Medium;
	src: url('/ttf/Poppins-Medium.ttf'); 
}
@font-face {
	font-family: Poppins-Bold;
	src: url('/ttf/Poppins-Bold.ttf'); 
}
@font-face {
	font-family: Poppins-SemiBold;
	src: url('/ttf/Poppins-SemiBold.ttf'); 
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	font-family: Poppins-Regualr, sans-serif;
}

a {
	font-family: Poppins-Refualr;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #a64bf4;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
	width: 100%;
	margin-top: 0;
	background-color: transparent;
}

input:focus {
	border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; }
input:focus::-moz-placeholder { color: transparent; }
input:focus:-ms-input-placeholder { color: transparent; }

input::-webkit-input-placeholder { color: #adadad; }
input:-moz-placeholder { color: #adadad; }
input::-moz-placeholder { color: #adadad; }
input:-ms-input-placeholder { color: #adadad; }

input[type="button"] {
	outline: none !important;
	border: none;
	background: transparent;
}

input[type="button"]:hover {
	cursor: pointer;
}

input[type="submit"] {
	outline: none !important;
	border: none;
	background: transparent;
}

input[type="submit"]:hover {
	cursor: pointer;
}

.limiter {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: #ddd;
}

.register-container {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.register-wrap {
	width: 500px;
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	padding: 65px 55px 54px 55px;
}

.register-form {
	width: 100%;
	padding-bottom: 49px;
}

.register-form-title {
	display: block;
	font-family: Poppins-Bold;
	font-size: 39px;
	color: #333333;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 20px;
}

.input_username {
	position: relative;
	margin: 40px 10px;
}

.input_password {
	position: relative;
	margin: 40px 10px;
}

.input_passwordConfirm{
	position: relative;
	margin: 40px 10px;
}

.input_email{
	position: relative;
	margin: 40px 10px;
}

.input_tel{
	position: relative;
	margin: 40px 10px;
}

.input_address{
	position: relative;
	margin: 40px 10px;
}

.fa-user {
	position: relative;
	font-size: 20px !important;
	margin-right: 10px;
}

.fa-lock {
	position: relative;
	font-size: 20px !important;
	margin-right: 10px;
}

.fa-at {
	position: relative;
	font-size: 20px !important;
	margin-right: 10px;
}

.fa-mobile {
	position: relative;
	font-size: 30px !important;
	margin-right: 10px;
	padding-left: 2px;
}

.fa-map-marker {
	position: relative;
	font-size: 25px !important;
	margin-right: 10px;
}

.username {
	margin: 1px;
}

.password {
	margin: 1px;
}

.passwordConfirm {
	margin: 1px;
}

.email {
	margin: 1px;
}

.tel {
	margin: 1px;
}

.address {
	margin: 1px;
}

label{
	position: absolute;
	top: -5px;
	font-size: 20px;
	color: RGBA(55, 73, 87, 0.8);
	-webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
  	-webkit-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}

input:focus ~ label,
input:valid ~ label {
	color: #a64bf4;
	letter-spacing: 5px;
	-webkit-transform: translate(0, -30px) scale(0.7, 0.7);
    -ms-transform: translate(0, -30px) scale(0.7, 0.7);
    transform: translate(0, -30px) scale(0.7, 0.7);
}


.after {
	width: 100%;
  	height: 2px;
  	background: -webkit-gradient(linear, left top, right top, color-stop(50%, RGBA(254, 253, 255, 1.00)), color-stop(50%, transparent));
  	background: -webkit-linear-gradient(left, RGBA(254, 253, 255, 1.00) 50%, transparent 50%);
  	background: -o-linear-gradient(left, RGBA(254, 253, 255, 1.00) 50%, transparent 50%);
  	background: linear-gradient(to right, RGBA(254, 253, 255, 1.00) 50%, transparent 50%);
  	background-color: RGBA(55, 73, 87, 0.8);
  	background-size: 200% 100%;
  	background-position: 100% 0;
  	-webkit-transition: all 0.3s ease;
  	-o-transition: all 0.3s ease;
  	transition: all 0.3s ease;
}

.input-label {
	font-family: Poppins-Regular;
	font-size: 14px;
	color: #333333;
	line-height: 1.5;
	padding-left: 7px;
}

.register-container-form-btn {
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
}

.register-wrap-form-btn {
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;
	border-radius: 25px;
	overflow: hidden;
	margin: 0 auto;
	
	box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -moz-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -webkit-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -o-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
    -ms-box-shadow: 0 5px 30px 0px rgba(3, 216, 222, 0.2);
}

.register-form-bgbtn {
	font-family: Poppins-Medium;
	position: absolute;
	z-index: -1;
	width: 300%;
	height: 100%;
	background: #a64bf4;
	background: -webkit-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  	background: -o-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  	background: -moz-linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  	background: linear-gradient(right, #00dbde, #fc00ff, #00dbde, #fc00ff);
  	top: 0;
  	left: -100%;

  	-webkit-transition: all 0.4s;
  	-o-transition: all 0.4s;
  	-moz-transition: all 0.4s;
  	transition: all 0.4s;
}

.register-form-btn {
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	
	display: -webkit-box;
  	display: -webkit-flex;
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding: 0 20px;
  	width: 100%;
  	height: 50px;
}

.register-wrap-form-btn:hover .register-form-bgbtn {
	left: 0;
}

.alert-validate::before {
	content: attr(data-check);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 2px;
	padding: 4px 25px 4px 10px;
	bottom: calc((100%-20px)/ 2);
	-webkit-transform: translateY(50%);
  	-moz-transform: translateY(50%);
  	-ms-transform: translateY(50%);
  	-o-transform: translateY(50%);
  	transform: translateY(50%);
  	right: 2px;
  	pointer-events: none;
  	
  	font-family: Poppins-Regular;
  	color: #c80000;
  	font-size: 13px;
  	line-height: 1.4;
  	text-align: left;
  	
  	visibility: hidden;
  	opacity: 0;
  	
  	-webkit-transition: opacity 0.4s;
  	-o-transition: opacity 0.4s;
  	-moz-transition: opacity 0.4s;
  	transition: opacity 0.4s;
  	margin-bottom: 5px;
}

.alert-validate::after {
	content: "\f06a";
  	font-family: FontAwesome;
  	display: block;
  	position: absolute;
  	color: #c80000;
  	font-size: 16px;
  	bottom: calc((100% - 20px) / 2);
  	-webkit-transform: translateY(50%);
  	-moz-transform: translateY(50%);
  	-ms-transform: translateY(50%);
  	-o-transform: translateY(50%);
  	transform: translateY(50%);
  	right: 8px;
  	top: -30px;
}

.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}

.alert-fail:before {
	visibility: visible;
	opacity: 1;
}

.alert-check::before {
	content: "\f058";
	font-family: FontAwesome;
  	display: block;
  	position: absolute;
  	color: #00f900;
  	font-size: 16px;
  	bottom: calc((100% - 20px) / 2);
  	-webkit-transform: translateY(50%);
  	-moz-transform: translateY(50%);
  	-ms-transform: translateY(50%);
  	-o-transform: translateY(50%);
  	transform: translateY(50%);
  	right: 8px;
  	top: -17px;
}

/* modal */

.clear{
	clear: both;
}

.modal-div {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.6);
	z-index: 99;
}

.modal-div .modal-container {
	padding: 20px;
	margin: 40px auto;
	width: 500px;
	height: 400px;
	background: #FFF;
}

.modal-div .modal-container img {
	border : 1px solid #ccc;
	height: 200px;
	width: 430px;
	margin-bottom: 30px;
}

.modal-div .modal-container input {
	transition: all 0.3s ease;
	width: 320px;
  	border-bottom: 1px solid #ccc;
}

.modal-div .modal-container input:focus {
	border-color: black !important;
}

.modal-div .modal-container .CapchaButton {
	background: #1EC800;
	border-color: #1EC800;
	color: white;
	margin-left : 15px;
	width: 50px;
	cursor: pointer;
}

.modal-div .modal-container .CapchaReply {
	color: white;
	border-color: #1EC800;
	background: #1EC800;
	width: 30px;
	cursor: pointer;
}

.modal-div .modal-container .navercopyright {
	margin-top: 15px;
	border: none;
	width: 200px;
	height: 15px;
}

.fa-close {
	cursor: pointer;
}


#custom-overlay {
  background-color: #000;
  opacity: 0.7;
  display: none;
}

/* http://projects.lukehaas.me/css-loaders/ by @lukehaas */
.loading-spinner {
  font-size: 12px;
  margin: 25% auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff,
      3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff,
      0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff,
      -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff,
      3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff,
      -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff,
      -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff,
      3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff,
      -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff,
      -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff,
      3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff,
      -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff,
      -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff,
      3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff,
      -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff,
      -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff,
      3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff,
      -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff,
      -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff,
      3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff,
      0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff,
      -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff,
      3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff,
      0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff,
      -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff,
      3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff,
      0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff,
      -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff,
      3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff,
      -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff,
      -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff,
      3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff,
      -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff,
      -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff,
      3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff,
      -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff,
      -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff,
      3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff,
      -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff,
      -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff,
      3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff,
      -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff,
      -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff,
      3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff,
      0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff,
      -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff,
      3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff,
      0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff,
      -2em -2em 0 0.2em #ffffff;
  }
}
