<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Insert title here</title>
</head>
<body>
    <div style="width: 100%; pading: 0px; margin: 0px;" cellpadding="0" border="0">
        <header style="font-size: 13px; padding: 20px 0px 10px 0px; border-top: #e5e5e5 2px solid">
            <p style="font-size: 13px; color: #555; text-align: left; padding: 0px; margin: 0px; line-height: 26px;">
                안녕하세요. 흥청망청 입니다.<br>
                _USERID_님의 회원가입을 진심으로 환영합니다.
            </p>
        </header>

        <section>
            <h3 style="font-size: 15px; color: #000; margin: 0 auto; padding: 10px 0px 0px 0px; text-align: left; line-height: 30px">회원가입정보</h3>
                <table style="font-size: 13px; color: #555; width: 100%; text-align: left; border-top: #e5e5e5 2px solid; border-bottom: #e5e5e5 2px solid; margin: 5px 0px 10px 0px;" cellspacing="0" cellpadding="0">
                    
                    <tbody><tr><th colspan="1" rowspan="1" style="width: 150px; padding: 8px; background-color:#efefef;">이메일 수신동의</th><td style="padding: 8px;">미동의</td></tr>
                </tbody></table>

    <img alt="쇼핑몰 바로가기" src="/images/Email_Image.jpg">
		</section>

        <article style="font-size: 13px; color: #555; text-align: left; padding: 20px 0px 20px 0px; line-height: 17px; border-top: #e5e5e5 0px solid;">
            <p style="padding: 0px 0px 0px 10px; margin: 0px; line-height: 26px;">
                <span style="font-weight: bold; margin: 0px 3px 0px -7px">·</span>흥청망청에서는 고객님의 개인정보를 소중히 여기고 관련법규에 따라 안전하게 보호합니다.<br>
                <span style="font-weight: bold; margin: 0px 3px 0px -7px">·</span>고객님의 개인정보를 수집/처리하는 것을 원치 않을 경우, 그 수집/처리 거부를 요구하실 수 있고 거부 시에는 서비스 이용이 불가합니다. <br>
				<span style="font-weight: bold; margin: 0px 3px 0px -7px">·</span>흥청망청에서 개인정보 수집을 원하시지 않을 경우 고객센터로 연락 주시기 바랍니다. <br>
                <span style="font-weight: bold; margin: 0px 3px 0px -7px">·</span>흥청망청에서는 앞으로 더 나은 서비스와 혜택을 드리기 위해 최선을 다하겠습니다. 감사합니다.
            </p>
        </article>
    </div>

        <footer style="font-size: 11px; color: #666666; text-align: left; padding: 25px 20px 25px 20px; line-height: 16px; background-color: #ebebeb">
            본 메일은 발신전용으로 회신되지 않습니다.<br>궁금하신 사항은 <span style="text-decoration: none; font-weight: bold;">고객센터 12345678ㅣ<a href="mailto:tlstjdtn321@naver.com">tlstjdtn321@naver.com</a> </span>로 문의해 주시기 바랍니다.<br>
            <span style="display: block; color: #444444; padding: 0px 0px 10px 0px"><br>흥청망청 주식회사  ㅣ  
            대표 신성수<br>  사업자등록번호 123456789  ㅣ  통신판매신고 2019-서울강남-1234<br>호스팅 제공자 흥청망청 주식회사<br>
           주소 서울시 강남구 역삼동 <br>
            </span>
        </footer>
</body>
</html>